* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, main, section, summary {
    display: block;
		text-align: center;
}

nav {
  height: 75px;
  background-color: white;
  color: black;
}

.hero-image {
  background-image:url("../images/buildings.png"), url("../images/sunla2.png");
	height: 750px;
	background-position: top, bottom;
	position: relative;
	background-size: cover;
	background-attachment:
		scroll, fixed;
	transform-style: preserve-3d;
}

footer {
  height: 100px;
  background-color: lightgrey;
}
