* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  scroll-behavior: smooth;
}
article,
aside,
details,
figcaption,
figure,
footer,
main,
section,
summary {
  display: block;
  text-align: center;
}
nav {
  height: 75px;
  background-color: #ffffff;
  color: black;
}
li {
  padding: 0 15px;
  font-weight: 450;
}
li:hover {
  color: #ffffff;
}
section {
  margin: 75px 0;
}
.custom-toggler.navbar-toggler {
  border: 2px solid #f99d21;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236,115,51, 0.7)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.bg-highlight {
  background-color: #f26a3f;
  color: #252525;
  font-size: 1.05em;
}
.hero-image {
  background-image: url("../images/buildings.png"), url("../images/sunla2.png");
  height: 750px;
  background-position: top, bottom;
  position: relative;
  background-size: cover;
  background-attachment: scroll, fixed;
  transform-style: preserve-3d;
}
h1 {
  color: #ffffff;
  padding: 10px;
  font-size: 66px;
  text-shadow: 2px 1px #f99d21, 4px 2px #f26a3f, 6px 3px #e03d52, 7px 4px #252525;
}
header p {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 1px 1px #e03d52, 2px 2px #252525;
}

h3 {
  font-size: 20px;
}

.about img {
  padding: 15px;
}

.about p {
  display: flex;
  justify-content: space-between;
}

.invest img {
  margin: auto 0;
  width: 95%;
  display: inline-flex;
}
.card {
  width: 90%;
  margin: auto;
}
.page-five {
  background-color: #f26a3f;
}
.page-five img {
  height: 550px;
  margin: 0 auto;
  max-width: 100%;
  border: 10px solid #f99d21;
}
.page-five h2,
p {
  text-align: center;
}
footer {
  background-color: #d7d7d7;
  height: 25px;
}
