@import "variables";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, main, section, summary {
    display: block;
		text-align: center;
}

nav {
  height: 75px;
  background-color: @white-lighter;
  color: black;
}

li {
	padding: 0 15px;
	font-weight: 450;
}

li:hover {
  color: @white-lighter;
}

section {
	margin: 75px 0;
}


.custom-toggler.navbar-toggler {
    border: 2px solid @yellow-secondary;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236,115,51, 0.7)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-highlight {
	background-color: @orange-highlight;
	color: @black-primary;
	font-size: 1.05em;
}

.hero-image {
  background-image:url("../images/buildings.png"), url("../images/sunla2.png");
	height: 750px;
	background-position: top, bottom;
	position: relative;
	background-size: cover;
	background-attachment:
		scroll, fixed;
	transform-style: preserve-3d;
}

h1 {
  color: @white-lighter;
  padding: 10px;
  font-size: 66px;
  text-shadow: 2px 1px @yellow-secondary, 4px 2px @orange-highlight, 6px 3px @red-secondary, 7px 4px @black-primary;
}

header p {
  color: @white-lighter;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 1px 1px @red-secondary, 2px 2px @black-primary;
}

.diamond {
  height: 100px;
  width: 100px;
	border-radius: 25%;
	background-color: @orange-highlight;
	opacity: 0.95;
	margin-bottom: -67px;
	margin-left: 55%;
	z-index: -1;
	}

.diamond2 {
  height: 100px;
  width: 100px;
	background-color: @yellow-secondary;
	transform: rotate(45deg);
	opacity: 0.95;
	margin-bottom: -67px;
	margin-left: 50px;
	z-index: -1;
	}

.diamond3 {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: @red-secondary;
	transform: rotate(80deg);
	opacity: 0.95;
	margin-bottom: -67px;
	margin-left: 60%;
	z-index: -1;
}

.invest img {
	margin: auto 0;
	width: 95%;
	display: inline-flex;
}

.card {
	width: 90%;
	margin: auto;
}

.about {
	padding: 20px 5px;
	border-radius: 5px;
}

.contact-page {
  background-color: @orange-highlight;
	border-radius: 5px;
	padding: 20px;
}

.page-five img {
	height: 550px;
  margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
  max-width: 100%;
  border: 10px solid @yellow-secondary;
}

.page-five h2, p {
  text-align: center;
}

footer {
  background-color: @grey-light;
	height: 25px;
}
